html {
  height: 100%; }

body {
  background-color: #F9FAFC;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 18vh 1rem;
  margin: auto; }
  body.home {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#555555), color-stop(#676767), color-stop(#7a7a7a), color-stop(#8d8d8d), color-stop(#a1a1a1), color-stop(#a7a7a7), color-stop(#acacac), color-stop(#b2b2b2), color-stop(#aaaaaa), color-stop(#a2a2a2), color-stop(#9b9b9b), to(#939393));
    background-image: linear-gradient(to right top, #555555, #676767, #7a7a7a, #8d8d8d, #a1a1a1, #a7a7a7, #acacac, #b2b2b2, #aaaaaa, #a2a2a2, #9b9b9b, #939393);
    color: white; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

.home h1 {
  margin-bottom: 30px; }

.home .item {
  margin-bottom: 20px; }
  .home .item .sub {
    color: #616161;
    font-size: 14px; }

.home a {
  color: #222222;
  cursor: pointer; }

.home .portrait {
  margin-bottom: 20px; }
  .home .portrait img {
    border: 7px solid #404040;
    -webkit-box-shadow: 0 20px 50px #17205a;
            box-shadow: 0 20px 50px #17205a; }

.align-center {
  text-align: center; }
