code {
  color: #51c4da;
}

article pre {
  overflow-x: scroll;
  background: #161c2d;
  padding: 1rem;
  border-radius: 5px;
}

article pre code {
  color: #afafaf;
}

.youtube {
  width: 100%;
  height: 80vh;
}

article ol {
  list-style: decimal;
  padding-inline-start: 40px;
}

article ul {
  list-style: disc;
  padding-inline-start: 40px;
}
