.container,
.headerContainer,
.footerContainer {
  max-width: 1080px;
  padding: 0 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.headerContainer {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.container {
  min-height: calc(100vh - 240px);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footerContainer {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 760px) {
  .container,
  .headerContainer,
  .footerContainer {
    padding: 0 1rem;
  }

  .headerContainer {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
