.container,
.headerContainer,
.footerContainer {
  max-width: 1088px;
  padding: 0 1rem;
}

.container {
  margin: 1rem auto 1rem;
}

.headerContainer {
  margin: 1.25rem auto 3rem;
}

.footerContainer {
  margin: 3rem auto 1.25rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
}

@media (max-width: 760px) {
  .headerContainer {
    margin: 0.75rem auto 2rem;
  }

  .footerContainer {
    margin: 2rem auto 0.75rem;
  }
}
